#divWeatherMain{
  display: block;
  border-radius: 1rem;
  width: 20rem;
  height: 22rem;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1));
  color: white;
}

.weatherWidgetRow{
  display: block;
  margin:0 auto;
  width: fit-content;
}

.fa-sun{
  color: white;
}
